.font {font-family: Arial, Helvetica, sans-serif;}
.user-select-none {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

// make sure your container is 100% height, with doctype html you will need to get specific
html, body {height:100%;}
body {margin:0;padding:0;}
#content {height:100%;}
//

.sw-container {
    @extend .font;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 400px; //added to account for .ps-list, @small-screen version could be created later

    .sr-viewport {
        height: 78%;
        top: 10%;
    }

    .ps-list { //ul
        position: absolute;
        left: 5%;
        width: 90%;
        top: 0;
        z-index: 1;
        height: 10%;

        &:after {
            display: inline-block;
            vertical-align: middle;
            content: '';
            height: 100%;
            margin-left: -0.25em; // to offset spacing, may vary by font
        }
    }
    .ps-list > li {
        display: inline-block;
        vertical-align: middle;
        max-width: 99%; // prevents issues with long content causes the content block to be pushed to the top
        /* max-width: calc(100% - 0.25em) /* Only for IE9+ */
    }
}

.sw-bead-unreachable {color: #911;}

.sw-step {
    position: absolute;
    border: 0;
    left: 1%;
    width: 98%;
    height: 96%;
    top: 0px;
    box-sizing: border-box;
    border-radius: 3px;
    padding:20px 23px;
    box-shadow: inset 0 0 2px #464646, 1px 1px 4px 1px rgba(0, 0, 0, 0.14);

    .sw-title { //h1
        margin:0;
    }

    .sw-header {

        @extend .group;
    }
    .overflow-y {
            width: 100%;
            height: 100%;
            overflow-y: auto;
    }

    &.sw-active {//active class
        box-shadow: inset 0 0 2px #383838, 2px 3px 6px 1px rgba(0, 0, 0, 0.16);
    }
}

.sw-navigation-container {
    position: absolute;
    width: 100%;
    height: 11%;
    bottom: 0;
    overflow: hidden;

    .sw-navigation-panel {
        width: 100%;
        height: 100%;
        position: relative;
        -ms-transition: all 352ms ease-in-out; /* same as .main-content transition, IE10 is actually unprefixed */
        transition: all 389ms ease-in-out;
    }
    .sw-button {
        @extend .user-select-none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: inline-block;
        box-sizing: border-box;
        text-align: left;
        background-color: #ddd;
        border-radius: 3px;
        color: #555;
        position: relative;
        padding: .4% 1%;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.3), inset -1px -1px 1px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid #aaa;
        margin: 0px;
        border-top-color: #c0c0c0;
        border-left-color: #b0b0b0;

        &:hover {
            background-color:#e6e6e6;
            box-shadow: inset 1px 1px 1px 0px rgba(255,255,255,.7), inset 0 0 1px 0 rgba(0,0,0,.1);
        }

        &:active {
            background-color:#efefef;
            box-shadow: inset 1px 1px 1px 0px rgba(255,255,255,.7), inset 0 0 1px 0 rgba(0,0,0,.1);
            color: #2d8bee;
        }

        //&.sw-button-full {} //assumed
        &.sw-button-left {
            width: 49.8%;
            float: left;
        }
        &.sw-button-right {
            width: 49.8%;
            text-align: right;
            float: right;
        }

        .sw-title {
            margin: 0;
            padding: 0;
            font-size: 1.1em;

        }
        .sw-description {
            margin:0;
            font-size: .9em;
        }
    }
    
    .sw-navigation {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 0px .3% .3%;
        box-sizing: border-box;

        &.sw-active {} //active class
        
        &:first-child .sw-button {text-align: right;}
    }
}