.sw-navigation {
    position: relative;
    width: 100%;
}

.sw-button {
    border: 1px black solid;
    position: absolute;
    top: 0;
}

.sw-button-full {
    left: 0%;
    width: 100%;
}

.sw-button-left {
    left: 0%;
    width: 50%;
}

.sw-button-right {
    left: 50%;
    width: 50%;
}

.sw-step {
    position: relative;
    width: 80%;
    height: 60%;
    left: 10%;
    margin: 20px 0;
    border: 1px black solid;
    padding: 10px;
}

/* hiding things */

.sw-hidable {
    display: none;
}

.sw-active {
    display: block;
}

.ps-list {
    position: relative;
    text-align: center;
    left: 5%;
    width: 90%;
    list-style-type: none;
    padding: 0px;
}

.ps-list-item {
    border: 1px black solid;
    border-radius: 1em;
    padding: 5px;
    margin: 1px;
    cursor: pointer;
    display: inline;
}

.ps-selected {
    color: white;
    background-color: black;
}